@page "/Comment"
    
    <html>
    <head>
    </head>
    <body >
     
        <div>
            <div class="form-group row m-0 p-0 " style=" background-color:white">
                <div class="col-md-4">

                </div>
                <div class="card col-md-4 shadow-sm ">
                    <div class=" form-group row pt-1">
                        <div class="col-md-6 " >
                            <label class="m-0 p-0" style="font:bolder;color:black ;  font-size:16px;font-weight:bold">Abid Hassan</label>
                            <label class="m-0 p-0" style="font-size:10px">20.09.2021</label>
                        </div>
                    </div>
                    
                    <div class="">
                        <p style=" font-size:11px; text-align:justify" class="pl-0">
                            The HTML DOM can be accessed with JavaScript (and with other programming languages).

                            In the DOM, all HTML elements are defined as objects.

                            The programming interface is the properties and methods of each object.

                            A property is a value that you can get or set (like changing the content of an HTML element).

                            A method is an action you can do (like add or deleting an HTML element).
                        </p>
                    </div>


                    <div class="shadow-lg form-group row ">
                        <img src="/images/stad.jpg" style="display: block; margin-left: auto; margin-right: auto; width: 100%;">
                    </div>
                </div>

                <div class="col-md-4">

                </div>

            </div>
            <br />
            
            <div class="form-group row ">
                <div class="col-md-4">
                    
                </div>
                <div class="col-md-4 m-0 p-0">
                    <div class="border p-1 mb-0" style="border-radius:20px">
                        <div class="form-group row m-0 p-0">
                            <div class=" pl-2">
                                <label><i class="fas fa-check-circle"></i></label>
                            </div>
                            <div class=" pl-1 ">
                                <label style="font-size:11px;font-weight:bold; color:black">Abid Hassan</label>
                            </div>
                            <div class="pl-1" style=""  >
                                <label style="font-size: 8px; ">24-Oct-2021</label>
                            </div>
                        </div>
                        <div class="pl-4" style="font-size:13px">
                            Nice Answer
                        </div>
                        <div class="" style="text-align:right">
                            <a href="" style="color:black;text-align:right"><span style="font-size:11px; font-weight:bold;color:black">Reply</span></a>

                        </div>
                    </div>
                    <div class="form-group row">
                        
                    </div>

                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
        
    </body>
</html>

