@page "/"



<html>
<head>
</head>
<body style="margin:0;padding:0;">

    <div>
        <div class="form-group row "  style="background-color:white">
            <div class="col-md-4">

            </div>
            <div class="card col-md-4 shadow-sm ">
                <div class=" form-group row pt-1">
                    <div class="col-md-6">
                        <label class="m-0 p-0" style="font:bolder;color:black ;  font-size:16px;font-weight:bold">Abid Hassan</label>
                        <span class="m-0 p-0" style="font-size:10px">20.09.2021</span>
                    </div>
                    <div class="col-md-6" style="text-align:right">
                        <label class="" style="background-color: #d891ef; color: black; border-radius: 10px; padding: 3px 12px; font-size: 9px ">TagName</label>
                    </div>

                </div>
                
                <div class=" ">
                    <p class="pl-0" style=" font-size:11px; text-align:justify">
                        The HTML DOM can be accessed with JavaScript (and with other programming languages).

                        In the DOM, all HTML elements are defined as objects.

                        The programming interface is the properties and methods of each object.

                        A property is a value that you can get or set (like changing the content of an HTML element).

                        A method is an action you can do (like add or deleting an HTML element).
                    </p>
                </div>


                <div class="shadow-lg form-group row">
                    <img src="/images/stad.jpg" style="display: block; margin-left: auto; margin-right: auto; width: 100%;">
                </div>
                
                <div class="form-group row m-0 p-0">
                    <div class="col-12 p-1"style="text-align:center">
                        <label class="m-0 p-0" style="font-size:12px;font-weight:bold">Total Answer :</label><span  style="font-size:12px;">12</span>
                    </div>
                </div>

                <hr />


                <div class="form-group row m-0 p-0">
                    <div class="comment col-12 p-1" style="text-align:center">
                        <a href="/Comment" class="btn btn-outline-primary" style="width:110px;">

                            <i style="color:blue" class="far fa-comment"></i>
                            <span style="color: black; font-size:14px ">Answer</span>
                        </a>

                    </div>
                </div>

            </div>

            <div class="col-md-4">

            </div>

        </div>
    </div>
</body>
</html>